@charset "utf-8";


.ui-selectonemenu-trigger {
    width: 30px !important;
    padding: 3px 6px !important;
    border-radius: 0 !important;
}

/* Text-Editor */
.ql-editing {
	z-index: 1040 !important;
}
