@charset "utf-8";

/* Text-Editor */
.ql-editing {
	z-index: 1040 !important;
}

/* Bootfaces - Growl */
.alert-info {
	border-color: #4CAF50 !important;
	background: #4CAF50 !important;	
	color: #ffffff !important;	
}

.alert-warn {
	border-color: #156090 !important;
	background: #186ba0 !important;
	color: #ffffff !important;
}

.alert-danger {
	border-color: #f44336 !important;
	background: #f44336 !important;
	color: #ffffff !important;	
}

.fa .fa-bars:hover {
	color: #ffffff !important;
}

/* =========================== 
 Primefaces
============================== */
/* Remove o fundo vermelho do label quando ocorre erro na validação */
label.ui-state-error {
    background: none !important;
}

/* outputlabel */
.ui-outputlabel {
	font-size: 1em !important;
}

/* Radio Buttom */ 
.ui-selectoneradio label {
	font-weight: normal !important;
}

.ui-icon-bullet {
	background-position: -81px -145px !important;
}

/* Select One Menu */
.ui-selectonemenu-trigger {
    width: 30px !important;
    padding: 3px 6px !important;
    border-radius: 1 !important;
}

.ui-selectonemenu {
    height: 32px;
    display: block !important;
    border-color: rgb(204, 204, 204) !important;
    border-radius: 1
}

.ui-selectonemenu-label {
	color: rgb(85, 85, 85) !important; 
	font-size: 13px !important;
    padding: 6px !important;
}
